<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfica con Chart.js</title>
    <!-- Agrega la referencia a la biblioteca Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="containerPadre">
        
        <!-- Contenedor div para la gráfica -->
    <div id="chartContainer">
        <div id="titu">
            <h2 >Historicos a lo largo de cinco años</h2>
        </div>
        
        <canvas id="myChart"></canvas>
    </div>

    

    <!-- Botones de selección -->
    <div id="seleccion" class="botonesE"> 

          <br>
        
        <button type="button" class="btn btn-info" onclick="mostrarGrafica('temperatura')">Temperatura</button> <br>
        <button type="button" class="btn btn-info" onclick="mostrarGrafica('humedad')">Humedad</button> <br>
        <button type="button" class="btn btn-info" onclick="mostrarGrafica('presion')">Presion </button> <br>
        <div id="seleccion2">
            <button type="button" class="btn btn-light">Avanzado</button>
        </div>
       
    </div>
    

    
</div>

    </div>
  
<!-- Script para cargar Chart.js y el código JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/stylesheets/javascripts/grafica4.js"></script>
<script src="/stylesheets/javascripts/graficoP.js"></script>

</body>
</html>
