<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="header"> <!-- CABECERA DE NUESTRA PAGINA -->
      <a href="#" class="logo">Tu Clima en Tonala</a> <!-- LOGO -->
      <nav class="navbar"> <!-- SECCIONES DE NUESTRA PAGINA -->
        <a href="#seccionInicio" scroll>Inicio</a>
        <a href="#seccion2" scroll>Graficas</a>
        <a href="#seccion3" scroll>Más</a>
      </nav>
    </header>

    <!-- SECCION INICIO -->
    <section class="seccionInicio" id="seccionInicio">

      <div class="titulo">
        <h1>AQUI VA TITULO XD</h1>
      </div>

      <div class="contenedorPadreInicio">
        <div class="tiempo" ">
          <div class="localizacion">
            <h1 class="txtClima"> Clima Actual en Tonalá</h1>
          </div>

          <div class="weather-box">
            <box>
              <div class="info-weather">
                <div class="weather"></div>
                <img src="/stylesheets/img/sol.png" alt="">
                <p class="temperaturaT"><span>ºC</span></p> 
                <p class="description"></p> 
              </div>
            </box>

          </div>

          <div class="weather-details">
            <div class="humedad">
              <div class="text">
                <i class='bx bx-water'></i>
                <div class="info-humidity">
                  <span>0%</span>
                </div>
                <p>Humedad</p>
              </div>

              <div class="wind">
                
                <div class="text">
                  <i class='bx bx-wind'></i>
                  <div class="info-humidity">
    
                    <span>0Km/h</span>
                  </div>
                  <p>Viento</p>
                  
                </div>

            </div>
          </div>
          
        </div>

      </div>
      
    </section>

<br>
    <!-- OTRA SECCION -->
  <section class="seccion2" id="seccion2">
    <div class="titulo">
      <h1>Graficas Ara</h1>
    </div>
    <div class="graficas">
    </div>

  </section>
  <br>

  <section class="seccion3" id="seccion3">
    <div class="titulo">
      <h1>Seccion3</h1>
    </div>
    <div class="informacion">
      
    </div>

  </section>

  </body>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/stylesheets/climaActual.js"></script>
</html>
