<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="header"> <!-- CABECERA DE NUESTRA PAGINA -->
      <a href="#" class="logo">Tu Clima en Tonala</a> <!-- LOGO -->
      <nav class="navbar"> <!-- SECCIONES DE NUESTRA PAGINA -->
        <a href="#seccionInicio" scroll>Inicio</a>
        <a href="#seccion2" scroll>Graficas</a>
        <a href="#seccion3" scroll>Más</a>
      </nav>
    </header>

    <!-- SECCION INICIO -->
    <section class="seccionInicio" id="seccionInicio">

      <div class="titulo">
        <h1>Bienvenido</h1>
      </div>

      <div class="contenedorPadreInicio">
        <div class="tiempo" ">
          <div class="localizacion">
            <h1 class="txtClima">Clima en Tonalá</h1>
          </div>

          <div class="weather-box">
            <box>
              <div class="info-weather">
                <div class="weather"></div>
                <img src="/stylesheets/img/sol.png" alt="">
                <p class="temperaturaT"><span>ºC</span></p> 
                <p class="description"></p> 
              </div>
            </box>

          </div>

          <div class="weather-details">
            <div class="humedad">
              <div class="text">
                <i class='bx bx-water'></i>
                <div class="info-humidity">
                  <span>0%</span>
                </div>
                <p>Humedad</p>
              </div>

              <div class="wind">
                
                <div class="text">
                  <i class='bx bx-wind'></i>
                  <div class="info-humidity">
    
                    <span>0Km/h</span>
                  </div>
                  <p>Viento</p>
                  
                </div>

            </div>
          </div>
          
        </div>

      </div>

      <div class="prediccion">
        aqui va predicciones
      </div>
      
    </section>

  <br>



<!-- CARRUSEL -->
<section class="seccion2" id="seccion2">
  <br>

  <div class="carrusel">
    <div class="item">
      <div class="graficas">
        <h1>Hola</h1>
        <img src="/stylesheets/img/comparacionDePrediccionesYValaoresReales.png" alt="1">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas2">
        <h1>Hola2</h1>
        <img src="/stylesheets/img/ComparacionDePrediccionesYValores.png" alt="2">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas3">
        <h1>Hola3</h1>
        <img src="/stylesheets/img/temMinHistorico.png" alt="3">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas4">
        <h1>Hola4</h1>
        <img src="/stylesheets/img/temMinHistorico2.png" alt="4">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <!-- Añade más elementos según sea necesario -->

  </div>
</section>



<!-- CARRUSEL -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var botonesSiguiente = document.querySelectorAll(".boton-siguiente");
    var botonesAnterior = document.querySelectorAll(".boton-anterior");

    botonesSiguiente.forEach(function(boton) {
      boton.addEventListener("click", function() {
        var carrusel = boton.closest(".carrusel");
        var item = boton.closest(".item");
        var siguienteItem = item.nextElementSibling;

        if (siguienteItem) {
          carrusel.appendChild(item); // Mueve el elemento al final
        }
      });
    });

    botonesAnterior.forEach(function(boton) {
      boton.addEventListener("click", function() {
        var carrusel = boton.closest(".carrusel");
        var item = boton.closest(".item");
        var anteriorItem = item.previousElementSibling;

        if (anteriorItem) {
          carrusel.insertBefore(item, anteriorItem); // Mueve el elemento al principio
        }
      });
    });
  });
</script>



  </section>


  <br>
  <section class="seccion3" id="seccion3">
    <div class="titulo">
      <h1>Seccion3</h1>
    </div>
    <div class="informacion">
      
    </div>

  </section>

  </body>



   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <!-- SCRIPTS GRAFICAS ETC -->
    <script src="/stylesheets/climaActual.js"></script>
    <script src="/stylesheets/grafica.js"></script>
    <script src="/stylesheets/graficaP.js"></script>


    <script>
      document.getElementById('btnGuardarCambios').addEventListener('click', function(event) {
          event.preventDefault();
          document.getElementById('btnguardar').submit();
      });
  </script>
 

<script>
  function seleccionarAnio(anio) {
    event.preventDefault();
      var botonAnio = document.getElementById("dropdownMenuButtonAnio");
      var inputAnio = document.getElementById("anioSeleccionado");
      botonAnio.textContent = anio;
      inputAnio.value = anio;
  }

  function seleccionarMes(mes) {
    event.preventDefault();
      var botonMes = document.getElementById("dropdownMenuButtonMes");
      var inputMes = document.getElementById("mesSeleccionado");
      botonMes.textContent = mes;
      inputMes.value = mes;
  }

  function seleccionarSeccion(seccion) {
    event.preventDefault();
      var botonSeccion = document.getElementById("dropdownMenuSeccion");
      var inputSeccion = document.getElementById("seccion");
      botonSeccion.textContent = seccion;
      inputSeccion.value = seccion;
  }
</script>
    </div>
  </div>



  
    </body>
  </html>
