<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1>PRUEBA DE GRAFICA</h1>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="grafico_interactivo.js"></script>
  </head>
  <body>
    <div id="grafico"></div>
  </body>
</html>
