<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.5/brython.min.js"></script>
  </head>
  <body onload="brython()">
    <header class="header"> <!-- CABECERA DE NUESTRA PAGINA -->
      <a href="#" class="logo">Tu Clima en Tonala</a> <!-- LOGO -->
      <nav class="navbar"> <!-- SECCIONES DE NUESTRA PAGINA -->
        <a href="#seccionInicio" scroll>Inicio</a>
        <a href="#seccion2" scroll>Históricos</a>
        <a href="#seccion3" scroll>Calculadora</a>
        <a href="#seccion4" scroll>Predicciones</a>
      </nav>
    </header>

    <!-- SECCION INICIO -->
    <section class="seccionInicio" id="seccionInicio">

      <div class="titulo">
        <h1>Bienvenido</h1>
      </div>

      <div class="contenedorPadreInicio">
        <div class="tiempo" ">
          <div class="localizacion">
            <h1 class="txtClima">Clima en Tonalá</h1>
          </div>

          <div class="weather-box">
            <box>
              <div class="info-weather">
                <div class="weather"></div>
                <img src="/stylesheets/img/sol.png" alt="">
                <p class="temperaturaT"><span>ºC</span></p> 
                <p class="description"></p> 
              </div>
            </box>

          </div>

          <div class="weather-details">
            <div class="humedad">
              <div class="text">
                <i class='bx bx-water'></i>
                <div class="info-humidity">
                  <span>0%</span>
                </div>
                <p>Humedad</p>
              </div>

              <div class="wind">
                
                <div class="text">
                  <i class='bx bx-wind'></i>
                  <div class="info-humidity">
    
                    <span>0Km/h</span>
                  </div>
                  <p>Viento</p>
                  
                </div>

            </div>
          </div>
          
        </div>

      </div>

      
        <div class="item">
          <div class="graficas2">
      
            <div id="chartContainer" class="chartContainer2">
              <div id="titu">
                <h2>Personaliza los parámetros</h2>
              </div>
              <canvas id="myChart2"></canvas>
            </div>
            <!-- Botón para mostrar el modal -->
            
            <div id="seleccion" class="botonesE">
      
              <h3 class="letra">Selecciona un año</h3>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAnio" data-bs-toggle="dropdown" aria-expanded="false">
                        Año
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAnio">
                        <li><a class="dropdown-item"  onclick="seleccionarAnio(2018)">2018</a></li>
                        <li><a class="dropdown-item"  onclick="seleccionarAnio(2019)">2019</a></li>
                        <li><a class="dropdown-item"  onclick="seleccionarAnio(2020)">2020</a></li>
                        <li><a class="dropdown-item"  onclick="seleccionarAnio(2021)">2021</a></li>
                        <li><a class="dropdown-item" onclick="seleccionarAnio(2022)">2022</a></li>
                        <!-- <li><a class="dropdown-item"  onclick="seleccionarAnio(2023)">2023</a></li>
                        <li><a class="dropdown-item"  onclick="seleccionarAnio(2024)">2024</a></li> -->
                    </ul>
                </div>
      
                <h3 class="letra">Selecciona un mes</h3>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonMes" data-bs-toggle="dropdown" aria-expanded="false">
                      Mes
                  </button>
                  <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButtonMes">
                      <li><a class="dropdown-item"  onclick="seleccionarMes('Todos los meses')">Todos los meses</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(1)">Enero</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(2)">Febrero</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(3)">Marzo</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(4)">Abril</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(5)">Mayo</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(6)">Junio</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(7)">Julio</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(8)">Agosto</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(9)">Septiembre</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(10)">Octubre</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(11)">Noviembre</a></li>
                      <li><a class="dropdown-item"  onclick="seleccionarMes(12)">Diciembre</a></li>
                  </ul>
              </div>
              
      
                <h3 class="letra">Selecciona Tipo</h3>
                
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSeccion" data-bs-toggle="dropdown" aria-expanded="false">
                    Tipo
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuSeccion">
                    <li><a class="dropdown-item"  onclick="seleccionarSeccion('temperatura')">Temperatura</a></li>
                    <li><a class="dropdown-item"  onclick="seleccionarSeccion('humedad')">Humedad</a></li>
                    <li><a class="dropdown-item"  onclick="seleccionarSeccion('presion')">Presion</a></li>
                </ul>
      
            </div>
                        <form id="btnguardar">
                            <input type="hidden" name="anioSeleccionado" id="anioSeleccionado">
                            <input type="hidden" name="mesSeleccionado" id="mesSeleccionado">
                            <input type="hidden" name="seccion" id="seccion">
                            <button type="button" class="btn btn-primary" id="btnGuardarCambios">Guardar cambios</button>
      
                        </form>
          
              <!-- <button id="botonAvanzado1" type="button" class="btn btn-info">Regresar</button> -->
              
            </div>
          </div>
      
      
      
      </div>
      
    </section>

  <br>



   <!-- OTRA SECCION -->
<!-- OTRA SECCION -->
<section class="seccion2" id="seccion2">
  <br>

  <div class="carrusel">
    <div class="item">
      <div class="graficas">
        <div id="chartContainer" class="chartContainer">
          <div id="titu">
            <h2>Históricos a lo largo de cinco años</h2>
          </div>
          <canvas id="myChart"></canvas>
        </div>

        <!-- Botones de selección -->
        <div id="seleccion" class="botonesE"> 
          <br>
          <button type="button" class="btn btn-info" onclick="mostrarGrafica('temperatura')">Temperatura</button> <br>
          <button type="button" class="btn btn-info" onclick="mostrarGrafica('humedad')">Humedad</button> <br>
          <button type="button" class="btn btn-info" onclick="mostrarGrafica('presion')">Presion</button> <br>
          <!-- <button id="botonAvanzado1" type="button" class="btn btn-info">Avanzado</button> -->
        </div>
      </div>
    </div>

        
      </div>
    </div>

</div> -->



<!-- CARRUSEL -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var carrusel = document.querySelector(".carrusel");
      var botonesAvanzado = document.querySelectorAll("#botonAvanzado1, #botonAvanzado2");
  
      botonesAvanzado.forEach(function(boton) {
        boton.addEventListener("click", function() {
          var primerItem = carrusel.querySelector(".item");
          var anchoItem = primerItem.offsetWidth;
  
          carrusel.appendChild(primerItem); // MUEVE CARRUSEL
  
          carrusel.style.transition = "none";
          carrusel.style.transform = "translateX(-" + anchoItem + "px)";
  
          setTimeout(function() {
            carrusel.style.transition = "transform 0.5s ease";
            carrusel.style.transform = "translateX(0)";
          }, 50);
        });
      });
    });
  </script>

  </section>


  <br>
  <section class="seccion3" id="seccion3">
    <div class="informacion centrado"> <!-- Cambio aquí -->
      <div class="input-list">
        <h3 class="letra2">Ingrese los datos para generar la predicción:</h3>
        <form id="formulario">
          <div class="input-item">
            <label for="temp_max" class="letra">Temperatura Máxima:</label>
            <input type="text" id="temp_max" name="temp_max" class="letra2" required>
          </div>
  
          <div class="input-item">
            <label for="temp_min" class="letra">Temperatura Mínima:</label>
            <input type="text" id="temp_min" name="temp_min" class="letra2" required>
          </div>
  
          <div class="input-item">
            <label for="precp" class="letra">Precipitación:</label>
            <input type="text" id="precp" name="precp" class="letra2" required>
          </div>
  
          <div class="input-item">
            <label for="precp_h" class="letra">Precipitación (horas):</label>
            <input type="text" id="precp_h" name="precp_h" class="letra2" required>
          </div>
  
          <div class="input-item">
            <label for="viento" class="letra">Viento:</label>
            <input type="text" id="viento" name="viento" class="letra2" required>
          </div>
  
          <div class="button-container">
            <button type="submit" class="btn btn-info">Enviar</button>
          </div>
        </form>
      </div>
  
      <h2 class="letra2">Tu Predicción es:</h2>
      <p id="suma_total" class="letra2"></p>
  
    </div>
  
    <script src="/stylesheets/algoritmoArely/cliente.js"></script>
  </section>
  
  
  

  
  
  
  
  
  
  
  <br>
  

  <section class="seccion2" id="seccion2">
  <br>

  <div class="carrusel">
    <div class="item">
      <div class="graficas">
        
        <img src="/stylesheets/img/comparacionDePrediccionesYValaoresReales.png" alt="1">
        <img src="/stylesheets/img/ComparacionDePrediccionesYValores.png" alt="2">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas">
       
        <img src="/stylesheets/img/ComparacionDePrediccionesYValores.png" alt="2">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas">
        
        <img src="/stylesheets/img/temMinHistorico.png" alt="3">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>

    <div class="item">
      <div class="graficas">
        
        <img src="/stylesheets/img/temMaxHistorico.png" alt="4">

      </div>
      <div class="botones-navegacion">
        <button class="boton-anterior">Anterior</button>
        <button class="boton-siguiente">Siguiente</button>
      </div>
    </div>


    <!-- CARRUSEL -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
  var botonesSiguiente = document.querySelectorAll(".boton-siguiente");
  var botonesAnterior = document.querySelectorAll(".boton-anterior");

  botonesSiguiente.forEach(function(boton) {
    boton.addEventListener("click", function() {
      var carrusel = boton.closest(".carrusel");
      var item = boton.closest(".item");
      var siguienteItem = item.nextElementSibling;

      if (siguienteItem) {
        carrusel.appendChild(item);
        
      
        carrusel.style.transition = "transform 0.5s ease";
        carrusel.style.transform = "translateX(-100%)";
        
       
        setTimeout(function() {
          carrusel.style.transition = "none";
          carrusel.style.transform = "translateX(0)";
        }, 500);
      }
    });
  });

  botonesAnterior.forEach(function(boton) {
    boton.addEventListener("click", function() {
      var carrusel = boton.closest(".carrusel");
      var item = carrusel.querySelector(".item:last-child");
      carrusel.insertBefore(item, carrusel.firstChild);
      
      
      carrusel.style.transition = "transform 0.5s ease";
      carrusel.style.transform = "translateX(-100%)";
      
      
      setTimeout(function() {
        carrusel.style.transition = "none";
        carrusel.style.transform = "translateX(0)";
      }, 500);
    });
  });
});
</script>

  </div>
</section>



  </body>



   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <!-- SCRIPTS GRAFICAS ETC -->
    <script src="/stylesheets/graficasManuelAra/climaActual.js"></script>
    <script src="/stylesheets/graficasManuelAra/grafica.js"></script>
    <script src="/stylesheets/graficasManuelAra/graficaP.js"></script>
    <!-- <script src="/stylesheets/graficasManuelAra/prediccion.js"></script> -->


    <script>
      document.getElementById('btnGuardarCambios').addEventListener('click', function(event) {
          event.preventDefault();
          document.getElementById('btnguardar').submit();
      });
  </script>
 

 <script>
  function seleccionarAnio(anio) {
    event.preventDefault();
      var botonAnio = document.getElementById("dropdownMenuButtonAnio");
      var inputAnio = document.getElementById("anioSeleccionado");
      botonAnio.textContent = anio;
      inputAnio.value = anio;
  }

  function seleccionarMes(mes) {
    event.preventDefault();
      var botonMes = document.getElementById("dropdownMenuButtonMes");
      var inputMes = document.getElementById("mesSeleccionado");
      botonMes.textContent = mes;
      inputMes.value = mes;
  }

  function seleccionarSeccion(seccion) {
    event.preventDefault();
      var botonSeccion = document.getElementById("dropdownMenuSeccion");
      var inputSeccion = document.getElementById("seccion");
      botonSeccion.textContent = seccion;
      inputSeccion.value = seccion;
  }
</script>
    </div>
  </div>



  
    </body>
  </html>
