<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header"> <!-- CABECERA DE NUESTRA PAGINA -->
      <a href="#" class="logo">Tu Clima en Tonala</a> <!-- LOGO -->
      <nav class="navbar"> <!-- SECCIONES DE NUESTRA PAGINA -->
        <a href="#">Sec1</a>
        <a href="#">Sec2</a>
        <a href="#">Sec3</a>
      </nav>
    </header>

    <!-- SECCION INICIO -->
    <section class="seccionInicio">

      <div class="titulo">
        <h1>AQUI VA TITULO XD</h1>
      </div>

      <h2 class="subtema">PREDICCIONES AQUI</h2>
      <div class="prediccion">
      </div>
    </section>

<br>
    <!-- OTRA SECCION -->
  <section class="seccion2">
    <div class="titulo">
      <h1>Graficas Ara</h1>
    </div>
    <div class="graficas">
    </div>

  </section>
  <br>

  <section class="seccion3">
    <div class="titulo">
      <h1>Seccion3</h1>
    </div>
    <div class="informacion">
      
    </div>

  </section>

  </body>
</html>
