<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header"> <!-- CABECERA DE NUESTRA PAGINA -->
      <a href="#" class="logo">Tu Clima en Tonala</a> <!-- LOGO -->
      <nav class="navbar"> <!-- SECCIONES DE NUESTRA PAGINA -->
        <a href="#seccionInicio" scroll>Inicio</a>
        <a href="#seccion2" scroll>Graficas</a>
        <a href="#seccion3" scroll>Más</a>
      </nav>
    </header>

    <!-- SECCION INICIO -->
    <section class="seccionInicio" id="seccionInicio">

      <div class="titulo">
        <h1>AQUI VA TITULO XD</h1>
      </div>

      <div class="contenedorPadreInicio">
        <div class="tiempo">
          contenedor
        </div>

        <div class="prediccion" id="climaTonala">
          tiempo
        </div>

      </div>
      
    </section>

<br>
    <!-- OTRA SECCION -->
  <section class="seccion2" id="seccion2">
    <div class="titulo">
      <h1>Graficas Ara</h1>
    </div>
    <div class="graficas">
    </div>

  </section>
  <br>

  <section class="seccion3" id="seccion3">
    <div class="titulo">
      <h1>Seccion3</h1>
    </div>
    <div class="informacion">
      
    </div>

  </section>

  </body>
</html>
