<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Suma Total</title>
</head>
<body>
    <h1>Ingrese los datos para generar la predicción:</h1>
    <form id="formulario">
        <label for="temp_max" class="letra">Temperatura Máxima:</label>
        <input type="text" id="temp_max" name="temp_max" required><br><br>

        <label for="temp_min" class="letra">Temperatura Mínima:</label>
        <input type="text" id="temp_min" name="temp_min" required><br><br>

        <label for="precp" class="letra">Precipitación:</label>
        <input type="text" id="precp" name="precp" required><br><br>

        <label for="precp_h" class="letra">Precipitación (horas):</label>
        <input type="text" id="precp_h" name="precp_h" required><br><br>

        <label for="viento" class="letra">Viento:</label>
        <input type="text" id="viento" name="viento" required><br><br>

        <button type="submit">Enviar</button>
    </form>

    <h2>Suma Total:</h2>
    <p id="suma_total"></p>

    <script src="/stylesheets/algoritmoArely/cliente.js"></script>

</body>
</html>
