@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* FUENTE LETRA */
}

body {
  background: rgb(190, 215, 253);
  
}

html {
  scroll-behavior: smooth; /* Hace que el desplazamiento entre las secciones sea suave */
}

.header{ /* ESTILO CABECERA */
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background: rgb(128, 178, 239);  COLOR */
  background: rgb(14, 23, 34);  

  /*SEPARAMOS NUESTROS ELEMENTOS (LOGO Y SECCIONES)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/*DISEÑO LOGO*/
.logo{
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/*DISEÑO DE SECCIONES CABECERA*/
.navbar a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s; /*TIEMPO DE EFECTO*/
}

.navbar a:hover{
  color: rgb(93, 164, 175); /*COLOR AL MOMENTO DE SELECCIONAR ALGUNA SECCION CABCERA*/
}


/*ESTILO TITULOS Y SUBTEMAS*/
.titulo{ /*DIV TITULO*/
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;  /* CENTRA HORIZONTALMENTE */
  
}

.subtema{
  display: flex;
  align-items: center;
  justify-content: center;  /* CENTRA HORIZONTALMENTE */
}


/*ESTILO SECCIONES GENERAL*/
.seccionInicio, .seccion2, .seccion3 {
  height: 100vh; /* PARA QUE CADA SEECCION OCUPE EL TAMAÑO DE UNA VENTANA NORMAL */
  padding: 20px; /* Añade un espacio entre el contenido y el borde de la sección */
  scroll-margin-top: 50px;
}
.seccionInicio { /*DIV PAPA DE MI SECCION INICIO*/
  display: flex;
  flex-direction: column; /* PARA AMPLIAR VERTICALMENTE LOS ELEMENTOS */
}

.seccion2 {
  background-color: rgb(114, 160, 99); 
}
.seccion3{
  background-color: antiquewhite;
}


.contenedorPadreInicio {
  display: flex;
  flex-direction: row; 
  background: gray;
}

/*ESTILO DE CONTENEDORES SECCIONES*/

/*JUNTAMOS DOS CONTENEDORES DEL PADRE*/
.prediccion, .tiempo {
  flex: 1; /* Ambos divs hijos tomarán una proporción igual del espacio disponible */
  padding: 10px; /* Añade relleno si es necesario */
}

.tiempo{
  background: white;
}

.prediccion{ /*PREDICCION*/
  /* flex-direction: column; */
  /* background: yellow; */
  height: 50vh; /*ALTURA CONTENEDOR*/
  display: flex;
  align-items: center;
  justify-content: center; /* CENTRA HORIZONTALMENTE */
  margin: 0 50px;
  background: yellow;
  
}




.graficas{
  /* background: yellow; */
  height: 50vh; /*ALTURA CONTENEDOR*/
  display: flex;
  align-items: center;
  justify-content: center; /* CENTRA HORIZONTALMENTE */
  margin: 0 50px;

}
