body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




#chartContainer {
  height: 500px;
    width: 800px; 
    
	  
}


.containerPadre{
  height: 600px;
  width: 1050px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #C9D4C3;
  border: 5px solid rgb(228, 133, 10); /* Añade color al borde */
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Añade una sombra */

  background-image: url('/stylesheets/assets/images/planeta.png'); /* Ruta de la imagen */
  background-size: 150px; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: top right 6%; /* Coloca la imagen dentro del contenedor en la esquina superior derecha */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */

 
}

#seleccion {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

#seleccion button {
  margin-bottom: 8px; /* Agrega un espacio abajo de cada botón */
  font-size: 20px;
  width: 150px; /* Establece el ancho de todos los botones */
  background-color: rgb(228, 133, 10);
  border-color: rgb(228, 133, 10);
}



 .botonesE {
  height: 260px;
  width: 250px;
  background-color:transparent;
  border: 5px solid transparent;
  border-radius: 10px;
  padding-top: 20px; /* Añade espacio en la parte superior del contenedor */
}


.form-select{
  width: auto;
  background-color: #e9eee7;
  border: 1px solid rgb(228, 133, 10)
}



.section {
  padding: 50px 0; /* Añade más espacio alrededor del contenido */
  min-height: 1000px; /* Establece una altura mínima para la sección */
  display: flex;
  justify-content: center;
  align-items: center;
}

